.navbar {
    background-color: #4CAF50; /* Zelená barva pozadí */
    overflow: hidden;
}

.navbar ul {
    list-style-type: none; /* Odebrání odrážek */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Zarovnání položek na střed */
}

.navbar li {
    margin: 0 10px; /* Mezery mezi položkami */
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s; /* Plynulá změna barvy pozadí */
}

.navbar a:hover {
    background-color: #45a049; /* Změna barvy pozadí při najetí myší */
}

.navbar a.active {
    background-color: #4CAF50; /* Barva pozadí aktivní položky */
}