.pagination-container {
    background: #f9f9f9;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 4px 4px 0 #333;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    position: relative;
}

.pagination-controls {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.pagination-controls button {
    text-decoration: none;
    color: #333;
    padding: 8px 15px;
    border: 2px solid #333;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-size: 16px;
    display: inline-block;
    position: relative;
    z-index: 1;
    background-color: white;
}

.pagination-controls button:hover {
    background-color: #e0e0e0;
    box-shadow: 2px 2px 0 #333;
}
.pagination-controls button[disabled] {
    color: #ccc;
    background-color: #f0f0f0;
    border-color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
    position: relative;
    overflow: hidden;
}

.pagination-controls button[disabled]::after {
    content: '';
    position: absolute;
    width: 150%;
    height: 1.5px;
    background-color: #333;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg); /* Rotace úhlopríčky */
    z-index: 1;
}

.pagination-page-info {
    margin: 0 10px;
    position: relative;
}

.pagination-page-size {
    margin-left: auto;
    margin-top: 10px;
    z-index: 0.5;
}

.pagination-page-size button {
    border-width: 3px;
    background-color: #f0f0f0;
    transition: background-color 0.3s, border-width 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    padding: 6px 10px;
}

.pagination-page-size button:hover {
    background-color: #e0e0e0;
    border-width: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.pagination-controls button::before,
.pagination-controls button::after {
    content: '';
    position: absolute;
    border: 2px solid #333;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    z-index: -1;
    transition: transform 0.3s ease-out;
}

.pagination-controls button:hover::before,
.pagination-controls button:hover::after {
    transform: scaleX(1.1) scaleY(1.1);
}

.pagination-controls button::before {
    transform: rotate(2deg);
}

.pagination-controls button::after {
    transform: rotate(-2deg);
}

.pagination-controls button:nth-child(1) {
    background-color: white;
}

.pagination-controls button:nth-child(2) {
    background-color: white;
}

.pagination-controls button:nth-child(3) {
    background-color: white;
}

.pagination-controls button:nth-child(4) {
    background-color: white;
}
