<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>3D print Eshop</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body>
<h2>Košík</h2>
<div th:replace="navbar ::nav"></div>
<section>
    <div th:each="item:${cart.entrySet()}">
        <h4 th:text="${item.getKey().getProductName()}"></h4>
        <span th:text="${item.getValue()}"></span>
        <a th:href="@{'/cart/add/' + ${item.getKey().getId()}}">Add</a>
        <a th:href="@{'/cart/remove/' + ${item.getKey().getId()}}">Remove</a>
    </div>
</section>

<section>
    <a th:href="@{check}">Potvrdit</a>
</section>
</body>
</html>