<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>3D print Eshop</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body>
<h2>List produktů</h2>
<div th:replace="navbar ::nav"></div>
<section>
    <div th:each="product:${products}">
        <a th:href="@{detail/{id} (id=${product.id})}" th:text="${product.productName}"></a>
        <img th:src="@{/images/{path} (path=${product.imagePath})}">

        <a th:href="@{'/cart/add/' + ${product.getId()}}">Add</a>
        <a th:href="@{'/cart/remove/' + ${product.getId()}}">Remove</a>
    </div>
</section>
</body>
</html>